.card-explore-restaurant{
    width: 300px;
    height: 300px;
}

.card-explore-img{
    width: 300px;
    height: 200px;
}

.card-explore-restaurant img{
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.card-body-explore-restaurant{
    text-align: left;
}

.card-body-explore-restaurant > div{
    font-size: 14px;
}