.searchscreen-simple-header-container{
    font-size: 30px;
}

.searchscreen-simple-header-buttons{
    font-size: 15px;
    right: 30px;
}

.header-container-shadow{
    box-shadow: 0 0 10px 0 lightgray;
}
