.homescreen-footer{
    background-color: #f5f5f5;
    font-size: 13px;
}

.homescreen-footer-brand{
    font-size: 30px;
}

.homepage-footer-links{
    font-size: 20px;
}

.homepage-footer-links > div:hover{
    text-decoration: underline;
    cursor: pointer;
}