.homescreen-app-brand{
    font-family: 'Baumans', cursive;
    font-weight: bold;
    color: black;
    height: fit-content;
}

.homescreen-app-brand:hover{
    color: black;
}
.homescreen-brand-img{
    width: 20px;
}