.homescreen-recent-activity-card{
    width: 270px;
    height: 350px;
    font-size: 14px;
}


.homescreen-recent-activity-card .card-img-top{
    object-fit: cover;
    width: 270px;
    height: 130px;
}

.homescreen-profile-img{
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.homepage-recent-activity-card-review{
    line-height: 18px;
}