.homescreen-popout-window{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;

}

.homescreen-popout-contents{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homescreen-popout-contents > button:hover{
    text-decoration: underline;
}