.register-popout-window{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.register-popout-contents{

    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

