.searchscreen-body{
    width: fit-content;
}

.searchscreen-search-path{
    font-size: 13px;
}

.searchscreen-search-path div:hover{
    cursor: pointer;
    text-decoration: underline;
}

.searchscreen-search-results{

}

