.homescreen-recommendation-card{
    width: 300px;
    height: fit-content;
}

.homescreen-recommendation-card > img{
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.homescreen-recommendation-card-body{
    text-align: left;
}

.homescreen-recommendation-card-body > div{
    font-size: 14px;
}

.homescreen-recommendation-card:hover{
    position: relative;
    bottom: 5px;
    box-shadow: 0 0 10px 0 lightgray;
    cursor: pointer;
}