.homescreen-category-item{
    width: 220px;
    border: solid 1px lightgrey;
}

.homescreen-category-item:hover{
    cursor: pointer;
}
.homescreen-category-img{
    width: 100px;
    height: 100px;
}
