.searchscreen-card-container img {
    object-fit: cover
}

@media (min-width: 768px) {
    .searchscreen-card-img-container, .searchscreen-card-container img{
        height: 210px;
        width: 230px;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .searchscreen-card-img-container, .searchscreen-card-container img{
        height: 120px;
        width: 130px;
    }
}

@media (max-width: 576px) {
    .searchscreen-card-img-container, .searchscreen-card-container img{
        height: 80px;
        width: 80px;
    }
}

.searchscreen-card-category{
    width: fit-content;
}

.searchscreen-card-container{
    font-size: 13px;
}

.searchscreen-card-container:hover{
    box-shadow: 0 0 10px 0 lightgrey;
}

.searchscreen-result-card-location{
    font-size: 15px;
}
