.homepage-banner-logged-in-header-container i:hover{
    color: lightgray !important;
    cursor: pointer;
}


.homepage-banner-logged-in-header-container .dropdown-item{
    font-size: 14px;
}

.homepage-banner-logout-button:hover{
    cursor:pointer;
}

.homepage-banner-logged-in-header-container .fas{
    font-size: 25px;
}

